# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual envs
.venv/

.trash/

# OS
.DS_Store
Thumbs.db

# Logs/DB
*.log
*.sqlite
*.sqlite3
*.db

# Python tooling
*.egg-info/
.build/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Misc
all_game_grumps_videos.txt
